In [45]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
#https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

import pandas as pd
import numpy as np
from openpyxl.workbook import workbook

In [9]:
df_excel = pd.read_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\regions.xlsx')
df_csv = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\Names.csv', header=None)
df_txt = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\data.txt', delimiter='\t')

df_csv.columns = ['First', 'Last', 'Address', 'City', 'State', 'Area Code']
df_csv.to_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\\File_Create\modified.xlsx')

In [5]:
df = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\Names.csv', header=None)
df.columns = ['First', 'Last', 'Address', 'City', 'State', 'Area Code']
print(df['Last'])

0         Doe
1    McGinnis
2      Repici
3       Tyler
4    Blankman
5         Jet
Name: Last, dtype: object

In [6]:
print(df['First'][0:3])

0             John
1             Jack
2    John "Da Man"
Name: First, dtype: object

In [7]:
print(df.iloc[1])

First                Jack
Last             McGinnis
Address      220 hobo Av.
City                Phila
State                  PA
Area Code            9119
Name: 1, dtype: object

In [8]:
print(df.iloc[2,1])

Repici

In [14]:
wanted_values = df[['First', 'Last', 'State']]
stored = wanted_values.to_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\State_Location.xlsx', index=None)

In [24]:
df = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\Names.csv', header=None)
df.columns = ['First', 'Last', 'Address', 'City', 'State', 'Area Code']
print(df.loc[(df['City'] ==  'Riverside') & (df['First'] ==  'John')])

  First Last            Address       City State  Area Code
0  John  Doe  120 jefferson st.  Riverside    NJ       8074

In [36]:
df = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\Names.csv', header=None)
df.columns = ['First', 'Last', 'Address', 'City', 'State', 'Area Code']
print(df)

                 First      Last                           Address  \
0                 John       Doe                 120 jefferson st.
1                 Jack  McGinnis                      220 hobo Av.
2        John "Da Man"    Repici                 120 Jefferson St.
3              Stephen     Tyler  7452 Terrace "At the Plaza" road
4                  NaN  Blankman                               NaN
5  Joan "Danger", Anne       Jet               9th, at Terrace plc

          City State  Area Code
0    Riverside    NJ       8074
1        Phila    PA       9119
2    Riverside    NJ       8075
3     SomeTown    SD      91234
4     SomeTown    SD        298
5  Desert City    CO        123

In [38]:
df.drop(columns = 'Address', inplace = True)

In [39]:
df = df.set_index('Area Code')

In [40]:
print(df.loc[8074])

First         John
Last           Doe
City     Riverside
State           NJ
Name: 8074, dtype: object

In [41]:
print(df.iloc[0])

First         John
Last           Doe
City     Riverside
State           NJ
Name: 8074, dtype: object

In [42]:
print(df.loc[8074:, 'First'])

Area Code
8074                    John
9119                    Jack
8075           John "Da Man"
91234                Stephen
298                      NaN
123      Joan "Danger", Anne
Name: First, dtype: object

In [43]:
print(df.First.str.split(expand = True))
print(df)

                 0          1     2
Area Code
8074          John       None  None
9119          Jack       None  None
8075          John        "Da  Man"
91234      Stephen       None  None
298            NaN        NaN   NaN
123           Joan  "Danger",  Anne
                         First      Last         City State
Area Code
8074                      John       Doe    Riverside    NJ
9119                      Jack  McGinnis        Phila    PA
8075             John "Da Man"    Repici    Riverside    NJ
91234                  Stephen     Tyler     SomeTown    SD
298                        NaN  Blankman     SomeTown    SD
123        Joan "Danger", Anne       Jet  Desert City    CO

In [50]:
df.First = df.First.str.split(expand = True)
df = df.replace(np.nan, 'N/A', regex = True)
to_excel = df.to_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\modified2.xlsx')

<b>openpyxl</b>

In [2]:
from openpyxl.workbook import Workbook
from openpyxl import load_workbook

In [10]:
wb = Workbook()
ws = wb.active

ws1 = wb.create_sheet('NewSheet')
ws2 = wb.create_sheet('Another', 0)

ws.title = 'MySheet'

print(wb.sheetnames)

wb2 = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\regions.xlsx')

new_sheet = wb2.create_sheet('NewSheet')
active_sheet = wb2.active

cell = active_sheet['A1']
active_sheet['A1'] = 0

wb2.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\modified3.xlsx')

['Another', 'MySheet', 'NewSheet']

In [14]:
wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\regions.xlsx')
ws = wb.active

cell_range = ws['A1':'C1']
col_c = ws['C']
col_range = ws['A':'C']
print(cell_range)
print(col_c)
print(col_range)

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>),)
(<Cell 'Sheet1'.C1>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.C7>)
((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.A2>, <Cell 'Sheet1'.A3>, <Cell 'Sheet1'.A4>, <Cell 'Sheet1'.A5>, <Cell 'Sheet1'.A6>, <Cell 'Sheet1'.A7>), (<Cell 'Sheet1'.B1>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.B7>), (<Cell 'Sheet1'.C1>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.C7>))

In [17]:
row_range = ws[1:5]
for row in ws.iter_rows(min_row = 1, max_col = 3, max_row = 2, values_only = True):
    for cell in row:
        print(cell)

Region
Units
Sales
South
54
332

In [31]:
from openpyxl.styles import Font, colors, Color, Alignment, PatternFill, GradientFill, Border, Side
from openpyxl.styles import NamedStyle

wb = Workbook()
ws = wb.active

for i in range(1,20):
    ws.append(range(300))

ws.merge_cells('A1:B5')
ws.unmerge_cells('A1:B5')
ws.merge_cells(start_row = 2, start_column = 2, end_row = 5, end_column = 5)

cell = ws['B2']
cell.font = Font(color = "FF0000", size = 20, italic = True)
cell.value = 'Merged Cell'
cell.alignment = Alignment(horizontal = 'right', vertical = 'bottom')
cell.fill = GradientFill(stop = ('000000', 'FFFFFF'))
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\text.xlsx')

highlight = NamedStyle(name = 'highlight')
highlight.font = Font(bold = True)
bd = Side(style = 'thick', color = "000000")
highlight.border = Border(left = bd, top = bd, right = bd, bottom = bd)
highlight.fill = PatternFill('solid', fgColor='FFFF00')

count = 0
for col in ws.iter_cols(min_col = 8, min_row = 1, max_col = 30, max_row = 30):
    col[count].style = highlight
    count = count + 1
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\highlight.xlsx')

In [38]:
import openpyxl
from openpyxl.chart import PieChart, Reference, Series, PieChart3D

wb = openpyxl.Workbook()
ws = wb.active

data = [
    ['Flavor', 'Sold'],
    ['Vanilla', 1500],
    ['Chocolate', 1700],
    ['Strawberry', 600],
    ['Pumpkin Spice', 950]
]

for rows in data:
    ws.append(rows)

chart = PieChart()
labels = Reference(ws, min_col = 1, min_row = 2, max_row = 5)
data = Reference(ws, min_col = 2, min_row = 1, max_row = 5)
chart.add_data(data, titles_from_data = True)
chart.set_categories(labels)
chart.title = 'Ice Cream by Flavor'

ws.add_chart(chart, 'C1')
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\Pie.xlsx')

In [44]:
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.drawing.image import Image
from openpyxl import load_workbook

wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\Pie.xlsx')
ws = wb.active

tab = Table(displayName = 'Table1', ref = 'A1:B5')
style = TableStyleInfo(name = 'TableStyleMedium9', showFirstColumn = False, showLastColumn = False,
                                                      showRowStripes = True, showColumnStripes = True)
tab.tableStyleInfo = style
ws.add_table(tab)
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\table.xlsx')

img = Image(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\madecraft.jpg')
img.height = img.height * .25
img.width = img.width * .25
ws.add_image(img, 'C1')
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\image.xlsx')

<b>Working with Reports</b>

In [55]:
#Manage multiple sheets
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font

df_1 = pd.read_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\shifts.xlsx', sheet_name='Sheet')
df_2 = pd.read_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\shifts.xlsx', sheet_name='Sheet1')
df_3 = pd.read_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\shift_3.xlsx')

df_all = pd.concat([df_1, df_2, df_3], sort = False)
print(df_all.loc[50])
print(df_all.groupby(['Shift']).mean()['Units Sold'])

to_excel = df_all.to_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\all_shift.xlsx', index = None)

wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\all_shift.xlsx')
ws = wb.active

total_col = ws['G1']
total_col.font = Font(bold = True)
total_col.value = 'Total'

e_col, f_col = ['E', 'F']
for row in range(2,300):
    result_cell = 'G{}'.format(row)
    e_value = ws[e_col + str(row)].value
    f_value = ws[f_col + str(row)].value
    ws[result_cell] = e_value * f_value

wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\totaled.xlsx')

    Shift Region Sales Rep Product  Cost per  Units Sold
50      1  South  Shirlene  Binder        30         176
50      2  North   Jenifer  Pencil         5          62
50      3   West    Conrad  Folder        17          51
Shift
1    114.767677
2    112.460000
3    109.343434
Name: Units Sold, dtype: float64

In [66]:
#Convert data
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\regions.xlsx')
ws = wb.active
df = pd.read_excel(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\all_shifts.xlsx')
df1 = df[['Sales Rep', 'Cost per', 'Units Sold']]
df1['Total'] = df1['Cost per'] * df1['Units Sold']

rows = dataframe_to_rows(df1, index = False)
for r_idx, row in enumerate(rows,1):
    for c_idx, col in enumerate(row,6):
        ws.cell(row = r_idx, column = c_idx, value = col)

wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\combined.xlsx')

<ipython-input-66-4a6ca6f711c6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total'] = df1['Cost per'] * df1['Units Sold']

In [81]:
#Pars large spreadsheets
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\template.xlsx')
ws = wb.active

df = pd.read_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\crime.csv')
df1 = df[df['OFFENSE_CODE_GROUP'] == 'Counterfeiting']
df1 = df1.replace(np.nan, 'N/A', regex = True)

total_crimes = len(df.index)
counterfeit = len(df1.index)
perc_crimes = (counterfeit / total_crimes) * 100
perc_crimes = round(perc_crimes, 2)

ws['O8'].value = total_crimes
ws['P8'].value = counterfeit
ws['Q8'].value = perc_crimes

df1['Count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count'].unstack(level = 0)
df2.drop(columns = 'N/A', inplace = True)

row =  dataframe_to_rows(df2)
for r_idx, row in enumerate(rows, 8):
    for c_idx, value in enumerate(row, 1):
        ws.cell(row = r_idx, column = c_idx, value = value)

wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\crime_report.xlsx')

In [87]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, PieChart, Series, Reference

wb = load_workbook(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\crime_report.xlsx')
ws = wb.active

chart = BarChart()
data = Reference(ws, min_row = 8, min_col = 1, max_col = 13, max_row = 13)
labels = Reference(ws, min_row = 8, min_col = 2, max_row = 8, max_col = 13)
chart.add_data(data, titles_from_data = True)
chart.set_categories(labels)
chart.title = 'Counterfeit Crimes by District'
chart.height = 4.56
chart.width = 20.3
ws.add_chart(chart, 'B14')

chart2 = PieChart()
data = Reference(ws, min_col = 15, max_col = 15, min_row = 8, max_row = 8)
labels = Reference(ws, min_col = 15, max_col = 15, min_row = 7, max_row = 7)
chart2.add_data(data, from_rows = True)
chart2.set_categories(labels)
chart.title = '% Counterfeit Crimes'
chart2.height = 4.56
chart2.width = 8.45
ws.add_chart(chart2, 'N14')
wb.save(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Excel\Exercise Files\File_Create\lines.xlsx')